<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src = "script.js"></script>
</head>
<body>
	<div th:text="${student.firstName}"></div>
	<div th:text="${student.lastName}"></div>
	<div th:text="${student.adjName}"></div>

	<form action="#" th:action="@{/student/}+${student.id}"
		th:method="delete">
		<input type="hidden" name="_method" value="delete"/>
		<button type="submit">Delete Student</button>
	</form>
	<a href= "/students">Return to the students page</a>
	 
</body>
</html>